# MariaDB-specific config file.
# Read by /etc/mysql/my.cnf

[client]
# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set = utf8mb4

[mysqld]
skip-name-resolve
sql-mode="NO_ENGINE_SUBSTITUTION"

#
# * Character sets
# 
# Default is Latin1, if you need UTF-8 set all this (also in client section)
#
character-set-server   = utf8mb4
collation-server       = utf8mb4_unicode_ci
character_set_server   = utf8mb4
collation_server       = utf8mb4_unicode_ci

innodb_file_per_table   = 1
innodb_log_file_size    = 128MB
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size        = 384MB
innodb_buffer_pool_instances   = 1
innodb_thread_concurrency      = 32

# "Aria" Table-Format wird implizit für temporäre Tabellen verwendet von MariaDB
aria_pagecache_buffer_size = 512M

join_buffer_size    = 16M
max_binlog_size     = 200M
max_heap_table_size = 128M

max_connections         = 500 
connect_timeout         = 20
wait_timeout            = 128800
interactive_timeout     = 128800

query_cache_type  = OFF
query_cache_size  = 0
sort_buffer_size  = 32M

slow_query_log      = 1
long_query_time     = 5
slow_query_log_file = /var/log/mysql/slow-query.log

